.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
 display: flex;
 padding: 10px;
 align-items: center;
 font-family : 'Montserrat';
}
.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
}
.nav .logo {
 font-weight : 800;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : white;
 color : black;
 border : none;
}
input {
 display : block;
}

.detail {
  text-align : center;
}
.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination a, .pagination span {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: default;
}
