<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body>
<!--    <div class="card">-->
<!--        <img src="https://placehold.co/300">-->
<!--        <div>-->
<!--            <h4 th:text="${items.get(0).title}"></h4>-->
<!--            <p>7억</p>-->
<!--        </div>-->
<!--    </div>-->


<!--    귀찮으니 for문을 써서 반복해보자.-->

<!--페이지가 100만개 있다고 한다면 html url 재사용해보자-->

    <div th:replace="~{ nav.html:: navbar}"></div>

    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/' + ${i.id} }">
                <h4 th:text="${i.title} "></h4>
            </a>
            <h4 th:text="${i.price + '원'}"></h4>
            <a th:href="@{/edit/{id}(id=${i.id})}">상품수정하기✏️</a>
            <p>
<!--            th:action="@{/deleteitem/{id}(id=${i.id})}" method="post" style="display:inline;">-->
<!--                <button type="submit">상품 삭제하기❎</button>-->

<!--            쿼리스트링을 이용해서 보내보자.-->
            <span th:onclick="fetch('/deleteitem?id=[[${i.id}]]', {method: 'DELETE'})

                  .then(r => r.text())
                  .then((a) => {
                    console.log(a)
                    location.reload();
                  })
            ">🗑️</span>


            </p>
        </div>
    </div>

<!--    <button class="btn">클릭하면 자바스크립트 실행</button>-->


<div class="pagination">
    <!-- 이전 페이지 버튼 -->
    <a th:if="${hasPrevious}" th:href="@{|/list/page/${currentPage - 1}|}">이전</a>

    <!-- 현재 페이지 표시 -->
    <span th:text="'Page ' + ${currentPage}" class="active"></span>

    <!-- 다음 페이지 버튼 -->
    <a th:if="${hasNext}" th:href="@{|/list/page/${currentPage + 1}|}">다음</a>
</div>


<script>


</script>







<!--    <div>-->
<!--        <img src="https://placehold.co/300">-->
<!--        <h4>셔츠</h4>-->
<!--        <p>8억</p>-->
<!--    </div>-->


</body>
</html>