<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/main.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{ nav.html:: navbar}"></div>


<form action="/search" method="POST">
    <input name="searchText" style="display: inline">
    <button>검색</button>
</form>

<div th:replace="~{_item_list.html :: fragment}"></div>

<div class="pagination">
    <a th:if="${hasPrevious}" th:href="@{|/list/page/${currentPage - 1}|}">이전</a>
    <span th:text="'Page ' + ${currentPage}" class="active"></span>
    <a th:if="${hasNext}" th:href="@{|/list/page/${currentPage + 1}|}">다음</a>
</div>

<script>
const urlParams = new URLSearchParams(window.location.search);
const isSuccess = urlParams.get('success');

if (isSuccess === 'true') {
alert('주문이 성공적으로 완료되었습니다. 감사요.');
}
</script>

</body>
</html>
