<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body>
<!--    <div class="card">-->
<!--        <img src="https://placehold.co/300">-->
<!--        <div>-->
<!--            <h4 th:text="${items.get(0).title}"></h4>-->
<!--            <p>7억</p>-->
<!--        </div>-->
<!--    </div>-->


<!--    귀찮으니 for문을 써서 반복해보자.-->

<!--페이지가 100만개 있다고 한다면 html url 재사용해보자-->

    <div th:replace="~{ nav.html:: navbar}"></div>

    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/' + ${i.id} }">
                <h4 th:text="${i.title} "></h4>
            </a>
            <h4 th:text="${i.price + '원'}"></h4>
            <a th:href="@{/edit/{id}(id=${i.id})}">상품수정하기✏️</a>
        </div>
    </div>







<!--    <div>-->
<!--        <img src="https://placehold.co/300">-->
<!--        <h4>셔츠</h4>-->
<!--        <p>8억</p>-->
<!--    </div>-->

</body>
</html>