<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        Kakao.init('8ac57c03bb5554194ced29e325bc36d3'); // JavaScript 키


        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 선택한 주소 정보를 각 필드에 입력
                    document.getElementById("zoneCode").value = data.zonecode; // 우편번호
                    document.getElementById("roadAddress").value = data.roadAddress; // 도로명 주소
                    document.getElementById("jibunAddress").value = data.jibunAddress; // 지번 주소
                }
            }).open();
        }
    </script>
</head>
<body>
<h1>회원가입</h1>
<form action="/member" method="POST">
    <div>
        <label>이름</label>
        <input type="text" name="displayname" required>
    </div>
    <div>
        <label>아이디</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label>우편번호</label>
        <input type="text" id="zoneCode" name="zoneCode" readonly required>
        <button type="button" onclick="execDaumPostcode()">주소 검색</button>
    </div>
    <div>
        <label>도로명 주소</label>
        <input type="text" id="roadAddress" name="roadAddress" readonly required>
    </div>
    <div>
        <label>지번 주소</label>
        <input type="text" id="jibunAddress" name="jibunAddress" readonly>
    </div>
    <div>
        <label>상세 주소</label>
        <input type="text" id="detailAddress" name="detailAddress" required>
    </div>
    <button type="submit">가입하기</button>
</form>
</body>
</html>
