<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>

    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html:: navbar}"></div>

<h1>검색 결과</h1>
<p>"<span th:text="${query}"></span>"에 대한 검색 결과:</p>

<!-- 공통 템플릿을 사용하여 검색 결과 리스트 출력 -->
<div th:replace="~{_item_list.html :: fragment}"></div>

</body>
</html>
