<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{ nav.html:: navbar}"></div>

<form action="/add" method="POST">
    상품이름
    <input name="title">
    가격
    <input name="price">

    <!-- 숨겨진 필드에 이미지 URL 저장 -->
    <input type="hidden" name="imageUrl" id="imageUrl">

    <button type="submit">전송</button>
</form>

<input type="file" onchange="getURL(this)">
<img src="">

<script>
    async function getURL(e) {
        let name = encodeURIComponent(e.files[0].name);
        let result = await fetch('/presigned-url?filename=' + name);

        result = await result.text();
        console.log(result);

        let uploadResult = await fetch(result, {
            method: 'PUT',
            body: e.files[0]
        });

        console.log(uploadResult);
        console.log(uploadResult.url.split("?")[0]);

        if (uploadResult.ok) {
            const imageUrl = uploadResult.url.split("?")[0];
            document.querySelector('img').src = imageUrl;

            // 숨겨진 필드에 이미지 URL 설정
            document.getElementById('imageUrl').value = imageUrl;
        }
    }
</script>

</body>
</html>
